.container {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.titleContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  display: block;
}

.title {
  color: #fff;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  pointer-events: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 5rem;
  overflow: hidden;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  position: absolute; /* Ensure both titles are absolute for smooth animations */
}
